@use 'utilities/typography';
$color: #000000;
$bg: #bbbbbb;

body {
  background: $bg;
  color: $color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h4 {
  text-align: center;
  font-family: 'Maplestory';
  color: #000000;
}

/* For Card 1 */

.text {
  &__front {
    font-family: 'Maplestory';
    position: absolute;
    top: 15%;
    left: 43%;
    font-weight: bolder;
    font-size: 40px;
    transform: translateZ(50px);
    backface-visibility: hidden;

    &__lvl {
      font-family: 'Maplestory';
      position: absolute;
      width: 225px;
      top: 173%;
      left: 15%;
      font-weight: bolder;
      font-size: 40px;
      color: white;
      transform: translateZ(50px);
      backface-visibility: hidden;
    }
  }

  &__back {
    font-family: 'Maplestory';
    position: absolute;
    top: 20%;
    left: 21%;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    transform: translateZ(50px);
    backface-visibility: hidden;

    &__boss {
      font-family: 'Maplestory';
      position: absolute;
      top: 173%;
      left: 58%;
      font-weight: bolder;
      font-size: 30px;
      color: white;
      transform: translateZ(50px);
      backface-visibility: hidden;
    }
  }
}

.card {
  position: none;
  width: 115px;
  height: 300px;

  &__content {
    position: relative;
    padding: 5em;
    transition: transform 2s;
    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    transform-style: preserve-3d;
  }

  &__front {
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
  }
}

img {
  width: 225px;
  height: 300px;
  backface-visibility: hidden;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

/* For Card 2 */

.text-2 {
  &__front {
    font-family: 'Maplestory';
    position: absolute;
    top: 15%;
    left: 32%;
    font-weight: bolder;
    font-size: 40px;
    transform: translateZ(50px);
    backface-visibility: hidden;

    &__lvl {
      font-family: 'Maplestory';
      position: absolute;
      width: 225px;
      top: 173%;
      left: 17%;
      font-weight: bolder;
      font-size: 40px;
      color: white;
      transform: translateZ(50px);
      backface-visibility: hidden;
    }
  }

  &__back {
    font-family: 'Maplestory';
    position: absolute;
    top: 20%;
    left: 21%;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    transform: translateZ(50px);
    backface-visibility: hidden;

    &__boss {
      font-family: 'Maplestory';
      position: absolute;
      top: 173%;
      left: 58%;
      font-family: 'Maplestory';
      font-weight: bolder;
      font-size: 30px;
      color: white;
      transform: translateZ(50px);
      backface-visibility: hidden;
    }
  }
}

.card-2 {
  position: none;
  width: 115px;
  height: 300px;
  margin-top: -300px;
  margin-left: 250px;

  &__content {
    position: relative;
    padding: 5em;
    transition: transform 2s;
    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    transform-style: preserve-3d;
  }

  &__front {
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
  }
}

.card-2:hover .card-2__content {
  transform: rotateY(0.5turn);
}

input {
  display: none;
}

/* Footer - Needs to be adjusted for more than ~2 cards */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-family: 'Maplestory';
  font-weight: bolder;
}

/* Media Query for iPads or Smaller (iPads are considered smaller than most tablets */
@media screen and (max-width: 768px) {
  .cards {
    width: 100%;
  }
  .card,
  .card-2 {
    display: table;
    margin: 0 auto;
    padding-right: 75px;
  }

  .text {
    &__front {
      &__lvl {
        width: 225px;
        top: 175%;
        left: 16%;
        font-weight: bolder;
        font-size: 40px;
        color: white;
        transform: translateZ(50px);
        backface-visibility: hidden;
      }
    }
  }

  .text-2 {
    &__front {
      &__lvl {
        width: 225px;
        top: 175%;
        left: 17%;
        font-weight: bolder;
        font-size: 40px;
        color: white;
        transform: translateZ(50px);
        backface-visibility: hidden;
      }
    }
  }

  .card {
    &__content {
      position: relative;
      padding: 5em;
    }

    &__front,
    &__back {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
    }

    &__back {
      display: none;
    }

    &__front {
      transform: rotateY(1turn);
      backface-visibility: hidden;
    }
  }

  .card-2 {
    &__content {
      position: relative;
      padding: 5em;
    }

    &__front,
    &__back {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
    }

    &__back {
      display: none;
    }

    &__front {
      transform: rotateY(1turn);
      backface-visibility: hidden;
    }
  }

  .card:hover .card__content,
  .card-2:hover .card-2__content {
    transform: none;
  }
}
